//index.html.haml
.row-fluid
  .box.span12
    .box-header
      %h2
        %i.icon-align-justify
        %span.break
        Usuarios
    .box-content
      .row-fluid
        .span2
          = link_to new_usuario_path, :class => "btn btn-small btn-success" do
            %i.icon-plus
            = "Nuevo Registro"
        .span10
          .search-form.pull-right
            = search_form_for @q, :class => 'form-search' do |f|
              = f.text_field :nombre_cont, :placeholder => "Nombre Contiene"
              = f.text_field :email_cont, :placeholder => "Email Contiene"
              = f.text_field :institucion_nombre_cont, :placeholder => "Institucion Contiene"
              %button.btn{:type => "submit"} Buscar
      %table.table.table-striped
        %thead
          %tr
            %th= 'Id'
            %th= Usuario.human_attribute_name(:email)
            %th= Usuario.human_attribute_name(:nombre)
            %th= Usuario.human_attribute_name(:cargo)
            %th= Usuario.human_attribute_name(:institucion_id)
            %th= Usuario.human_attribute_name(:activo)
            %th Acciones
        %tbody
          - for usuario in @usuarios  do
            %tr{:class => "#{ 'inactive' unless usuario.activo? }"}
              %td= usuario.id
              %td= usuario.email
              %td= usuario.nombre
              %td= usuario.cargo
              %td= usuario.institucion.nombre
              %td= si_no(usuario.activo)
              %td.center.actions
                = link_to(usuario_path(usuario), :class => "btn btn-success") do
                  %i.icon-zoom-in.icon-white
      = paginate @usuarios